<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="RS-16">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="RS-16" params="*origin parent:=base_link name:=robosense topic:=/robosense_points hz:=20 lasers:=16 samples:=900 collision_range:=0.4 min_range:=0.4 max_range:=150.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI} gpu:=false">

    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <link name="${name}_base_link">
      <inertial>
        <mass value="0.87"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001094695" ixy="0" ixz="0"
          iyy="0.001094695" iyz="0"
          izz="0.001245079"/>
      </inertial>
      <visual>
        <origin rpy="-1.5707 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://robosense_description/meshes/robosense_16.dae" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.0535" length="0.0817"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_base_scan_joint" type="fixed" >
      <origin xyz="0 0 0.039" rpy="0 0 0" />
      <parent link="${name}_base_link" />
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
    </link>

    <xacro:include filename="$(find robosense_description)/urdf/robosense_lidar_sensor.gazebo"/>
    <xacro:robosense_lidar_sensor
      name="${name}"
      topic="${topic}"
      rate="${hz}"
      lasers="${lasers}"
      samples="${samples}"
      collision_range="${collision_range}"
      min_range="${min_range}"
      max_range="${max_range}"
      noise="${noise}"
      min_angle="${min_angle}"
      max_angle="${max_angle}"
      gpu="${gpu}" />

  </xacro:macro>
</robot>
